* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Ensign Sans", "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  color: #212225;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: #157493;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #9c4f9c;
}
